:root {
  font-family: Kiwi Maru, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
}
